<footer id="footer">
  <div>
    <!-- <div style="display: flex; align-items: center; gap: 0.25rem">
      <img ngSrc="logo.svg" width="25" height="25" priority />
      <p id="title">resume fire</p>
    </div> -->
    <p >Made with ❤️ by <a href="https://www.linkedin.com/in/imon-tatar-a371b81b7">@imon</a></p>
    <a href="https://www.freeprivacypolicy.com/live/ce7866fd-e903-4792-a2ce-0dcf4484852a"><sub>Privacy Policy</sub></a>
    <a href="https://forms.gle/EMXnTpFRwCzWLTtv8"><sub>Give Feedback</sub></a>
  </div>
  <!-- <sub>© 2024 Imon Tatar | All rights reserved.</sub> -->
</footer>