<main>
    <section id="banner" >
        <p id="title" class="large-text">resume fire!</p>
        <p class="large-text">anonymize your resume</p>
        <sub>upload your resume, select whatever you want to redact, generate an anonymized version of your resume,
            host, share, get feedback ~ all for free!</sub>
    </section>
    <section >
        <app-redaction />
    </section>

    <!-- <div id="upload-form-container">
        <form id="upload-form">
            <button mat-flat-button>
                <mat-icon>upload</mat-icon>
                Upload Resume</button>
        </form>
    </div> -->
</main>