@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {

  // #resume-view-container{
  //     border-radius: 12px;
  //     border: 2px dashed mat.get-theme-color($theme, primary, 50);
  // }
  #resume-view-container {
    display: flex;
    border-radius: 12px;
    border: 2px dashed mat.get-theme-color($theme, neutral-variant, 80);
  }

  #resume-view {
    border-radius: 12px;
  }

  .bounding-box {
    stroke: mat.get-theme-color($theme, primary, 50);
    fill: transparent;
  }

  .bounding-box.selected {
    fill: mat.get-theme-color($theme, primary, 50);
    ;
  }

  .bounding-box:hover {
    cursor: pointer;
  }

  #loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(mat.get-theme-color($theme, neutral, 50), 0.1);
}
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}