<div>
  <div style="text-align: center">
    <div id="resume-view-container" [class.expanded]="resume">
      @if (boundingBoxes && boundingBoxes.length > 0){
      <svg [attr.viewBox]="svgViewBox" id="bounding-boxes" xmlns="http://www.w3.org/2000/svg" #boundingBoxesSvg>
        @for(boundingBox of boundingBoxes; track boundingBox.toString(); let i =
        $index){
        <rect class="bounding-box" [attr.height]="boundingBox[3]" [attr.width]="boundingBox[2]"
          [attr.y]="boundingBox[1]" [attr.x]="boundingBox[0]" [attr.id]="'bounding-box-' + i"
          (click)="selectedBoundingBoxes.toggle(boundingBox)"
          [class.selected]="selectedBoundingBoxes.isSelected(boundingBox)" rx="5" vector-effect="non-scaling-stroke" />
        }
      </svg>
      }
      <canvas id="resume-view" #resumeView></canvas>
      @if(loadingBoundingBoxes() || loadingRedactedPdf()){
      <app-loader id="redacting-loader"></app-loader>
      }
    </div>
    <div>
      <button type="button" mat-flat-button (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        @if (resume){
        <span>{{ resume.name }}</span>
        } @else {
        <span>select resume</span>
        }
      </button>
      <input hidden type="file" accept="application/pdf" (change)="onResumeSelected($event)" #fileInput />
      @if (boundingBoxes && boundingBoxes.length){
      <button mat-stroked-button [disabled]="!selectedBoundingBoxes.selected.length || loadingRedactedPdf()"
        (click)="submitSelectedBoundingBoxes()">
        generate redacted pdf
        <mat-icon>check</mat-icon>
      </button>
      } @else{

      @if (pageCountExceedLimit()){
      <button mat-stroked-button disabled>
        only single page resumes supported
        <mat-icon>info_outline</mat-icon>
      </button>
      } @else {
      <button mat-stroked-button [disabled]="!resume || loadingBoundingBoxes()" (click)="drawBoundingBoxes()">
        start anonymizing
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      }
      }
      <p style="font-size: small; color: grey;">It's free and no login required!</p>
    </div>
  </div>
</div>